[submodule "EPIE_Corpus"]
	path = EPIE_Corpus
	url = git@github.com:jecGrimm/EPIE_Corpus.git
[submodule "TransformerLens-intro"]
	path = TransformerLens-intro
	url = git@github.com:jecGrimm/TransformerLens-intro.git
[submodule "merge-tokenizers"]
	path = merge-tokenizers
	url = https://github.com/symanto-research/merge-tokenizers.git
[submodule "llm-transparency-tool"]
	path = llm-transparency-tool
	url = https://github.com/jecGrimm/llm-transparency-tool.git
